:root{
  --color-p: #E70FAA;
  --color-b: #42446E;
}
#about-me-section{
  width: 75rem;
  margin: 2rem 0;
}
.about-me{
  margin-bottom: 3rem;
}
.about-me > h1{
  font-size: 4rem;
  color:var(--color-b);
  font-weight: bold;
}
p{
  color: var(--color-b);
  font-size: 1.7rem;
}
#work-experience > h1{
  font-size: 4rem;
  color:var(--color-b);
  font-weight: bold;
}
.mid-line{
  width: 100%;
  height: .3rem;
  background-color: #ddd;
  border-radius: 1rem;
}
.work-experience-top{
  display: flex;
  justify-content: space-between !important;
  margin-bottom: .5rem;
  margin-top: .5rem;
}
.type{
  font-size: 1.3rem;
  background-color: rgb(186, 240, 186);
  color: green;
  padding: .5rem .5rem;
  border-radius: 2.5rem;
}
.work-experience-bottom{
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
}
.work-experience-bottom > p{
  font-size: 1.5rem;
  color:#A7A7A7;
}
.education{
  margin-top: 4rem;
}

.grid-wrapper {
	display: flex;
  flex-wrap: wrap;
	justify-content: center;
	align-items: center;
  gap: 15px;
}
.grid-wrapper > div > img {
	width: 100%;
	height: 100%;
	border-radius: 5px;
  border:#42446E 2px solid;
}

.grid-wrapper > div {
  width: 300px;
  height: 300px;
  margin-right: 1%;
}



